<!DOCTYPE html>
<html>
<head>
  <title>LunchPop!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  		<!-- FlipClock JS -->
	<script src="assets/flipclock.min.js"></script>
</head>
<body>

	<ul>
		<li><%= link_to 'All Current Deals', '/home'%></li>
		<% if session[:user_id] %>
				<li><%= link_to 'Logout', mylogout_path%></li>
			<% if User.where(id:session[:user_id]).first.lname=="placeholdlname"%>
				<li><%= link_to 'Preferences', edit_vendor_path(session[:user_id]) %></li>
				<li><%= link_to 'Post A Deal!', new_myproduct_path%></li>				
				<li><%= link_to 'My Deals', mydeals_path, 'data-no-turbolink' => true%></li>				
			<% else %>
				<li><%= link_to 'Preferences', edit_user_path(session[:user_id]) %></li>
			<% end %>
		<% else %>
			<li><%= link_to 'Create Customer Account', new_user_path%></li>
			<li><%= link_to 'Create Vendor Account', new_vendor_path%></li>
			<li><%= link_to 'Login!', mylogin_path%></li>
		<% end %>
	</ul>
<%= yield %>
</body>
</html>
